<h1>User</h1>
<p>
  <strong>First name:</strong>
  {{model.firstName}}
</p>

<p>
    <strong>Last name:</strong>
    {{model.lastName}}
</p>

<p>
    <strong>Email:</strong>
    {{model.email}}
</p>

<p>
    <strong>Birth date:</strong>
    {{model.birthDate}}
</p>