<h1>Fridge</h1>

<p>
  <strong>Brand:</strong>
  <%= @fridge.brand %>
</p>

<p>
  <strong>Last technical check:</strong>
  <%= @fridge.last_technical_check %>
</p>

<%= link_to 'Back', user_path(@user) %>